---
name: Build SpamTagger
run-name: Build SpamTagger and SpamTagger Plus by @${{ github.actor }}
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 0" # 0800 UTC Sunday
  pull_request:
    branches:
      - main
      - testing

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-push:
    name: build-push ${{ matrix.variant }}-${{ matrix.version }}
    continue-on-error: false
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - variant: spamtagger
            version: 13
          - variant: spamtagger-plus
            version: 13
    container:
      image: "ghcr.io/ublue-os/devcontainer:latest"
      options: "--privileged --volume /var/lib/containers:/var/lib/containers --security-opt seccomp=unconfined --security-opt label=disable --user 0:0"
    env:
      VARIANT: ${{ matrix.variant }}
      VERSION: ${{ matrix.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Mark Directory as Safe
        run: git config --system --add safe.directory "$GITHUB_WORKSPACE"

      - name: Build Image
        run: just build ${{ env.VARIANT }} ${{ env.VERSION }}
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Test Image
        run: just test

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name != 'pull_request' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2
        if: github.event_name != 'pull_request' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        id: push
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ steps.metadata.outputs.tags }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
